<%= form_with(model: flight, local: true) do |form| %>
  <% if flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :plane_id %>
  <%= form.select(:plane_id, options_for_select(Plane.all.pluck(:name,:id)))%>

  <%= form.label :flight_number %>
  <%= form.text_field :flight_number %>

  <%= form.label :from %>
  <%= form.text_field :from %>

  <%= form.label :to %>
  <%= form.text_field :to %>

  <%= form.label :depart_dt %>
  <%= form.datetime_select :depart_dt %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
