<p id="notice"><%= notice %></p>

<h1>Flights</h1>

<table>
  <thead>
    <tr>
      <th>Plane</th>
      <th>Flight #</th>
      <th>From</th>
      <th>To</th>
      <th>Depart At</th>
      <th>Seats Left</th>
    </tr>
  </thead>

  <tbody>
    <% @flights.each do |flight| %>
    <% seats = (flight.plane.rows * flight.plane.columns) %>
    <% remaining = seats - flight.reservations.count %>
      <tr>
        <td><%= flight.plane.name %></td>
        <td><%= flight.flight_number %></td>
        <td><%= flight.from %></td>
        <td><%= flight.to %></td>
        <td><%= flight.depart_dt %></td>
        <td><%= "#{ remaining } / #{ seats }"%></td>
        <td><%= link_to 'Show', flight %></td>
        <td><%= link_to 'Edit', edit_flight_path(flight) %></td>
        <td><%= link_to 'Destroy', flight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flight', new_flight_path %>
